.header {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0;
    background: var(--secondary);
}

.header form {
    width: 100%;
}

.header form input {
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--text);
    background-color: var(--accent);

    padding: 0.25rem;
}

.header form input + input {
    margin-left: 0.5rem;
    width: 20%;
}

.header form div {
    width: 0;
}


.header button {
    height: 100%;
    margin: 0 0.5rem;
    aspect-ratio: 1;
}

.slidePage {
    height: 100%;
}

.slide {
    aspect-ratio: 16/9;
    max-height: calc(100% - 3rem);
    margin: auto;
}