.component {
    position: absolute;
    min-width: fit-content;
    min-height: min-content;
}

.dragableComponent:hover {
    cursor: grab;
}

.dragableComponent:active,
.dragableComponent:focus {
    cursor: grabbing;
}

p.component {
    font-size: 150%;
}

h1.component {
    font-size: 400%;
}

h2.component {
    font-size: 300%;
}

h3.component {
    font-size: 250%;
}