.dragableComponent {
    position: absolute;
    cursor: grab;
}

.component {
    position: absolute;
    min-width: fit-content;
    min-height: min-content;
}

.dragableComponent:hover {
    cursor: grab;
}

.dragableComponent:active,
.dragableComponent:focus {
    cursor: grabbing;
}

p.component {
    font-size: 1.5em;
}

h1.component {
    font-size: 4em;
}

h2.component {
    font-size: 3em;
}

h3.component {
    font-size: 2.5em;
}