.playlist {
    background-color: var(--primary);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.slideRow {
    display: flex;
    overflow: hidden;
}

.playlistSlidethumbnail {
    margin: 0.5rem !important;
}