.sidebar {
    width: 3.5rem;
    background-color: var(--primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.sidebarButton {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.15rem;
    margin: 0.2rem auto; /* center the item */
    background-color: var(--secondary);
    border-radius: 0.5rem;
}

.sidebarButton:hover {
    cursor: pointer;
}