<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender with color -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" noConsoleNoAnsi="false">
                <Pattern>
                    %style{[%d{HH:mm:ss}]}{yellow} %style{(%t)}{magenta} %highlight{%-5level} %logger{36} - %msg%n%throwable
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
