.input {
    appearance: none;
    -webkit-appearance: none;

    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--text);
    background-color: var(--secondary);

    padding: 0.1rem 0.25rem;
}

.input.primary {
    background-color: var(--primary);
}

.button {
    background: var(--secondary);
    border: 1px solid var(--text);
    border-radius: 5px;
}

.button + .button {
    margin-left: 2px;
}

.w_100 {
    min-width: 100%;
}

.f_right {
    float: right;
}

.d_none {
    display: none;
}

.slide {
    aspect-ratio: 16/9;
    max-height: 100%;
    margin: auto;
}

/* --- PROPERTIES --- */

.properties {
    padding: 0.5rem 0;
    height: var(--header-height);
    align-items: center;
    display: flex;

    background-color: var(--secondary);
    color: var(--text);
}

.properties .devider {
    border: 1px solid var(--primary);
    height: 100%;
    margin: 0.25rem;
    border-radius: 2rem;
}

.properties label {
    margin: 0 0.25rem;
    color: inherit;
}

.properties input,
.properties button {
    margin: 0 0.25rem;
    color: inherit;
}

.properties input[type="color"] {
    width: 3rem;
    height: 1.5rem;
}

.properties input[type="color"]:hover {
    cursor: pointer;
}