@media (prefers-color-scheme: light) {
    * {
        --text: #0d0d11;
        --background: #f9f9fb;
        --primary: #828fbf;
        --secondary: #a7accd;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --text: #c9c9cb;
        --background: #040406;
        --primary: #323758;
        --secondary: #404d7d;
    }
}

* {
    --header-height: 3rem;

    font-family: "Ubuntu", sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text);
}

#root, html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

button {
    background: none;
    border: none;

    cursor: pointer;
}